.btn {
    &_1 {
        padding: 15px 30px;
        border-radius: 5px;
        background: #fff;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; /* #20 https://getcssscan.com/css-box-shadow-examples */
        color: #1f1f1f;
        &:hover {
            color: #1f1f1f;
        }
    }
    &_2 {
        padding: 10px 30px;
        border-radius: 5px;
        background: $main-color;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        color: #fff;
        border: none;
        font-weight: 700;
        line-height: 1.5;
        &:hover {
            color: #fff;
        }
        &:disabled {
            opacity: 0.5;
            cursor: pointer;
          }
    }
}