.resume {
   padding-top: 120px;
   &__title {
    text-align: center;
   }
   &__subtitle {
    text-align: center;
    margin-top: 4px;
   }
   &__wrapper {
      padding: 60px 65px 0 65px;
      display: grid;
      grid-template-columns: 429px 429px;
      column-gap: 150px;
   }
   &__column {
      &-title {
         position: relative;
         padding-left: 35px;
         &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 100%; 
            background: $main-color;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
         }
      }
      ul {
         list-style-type: none;
         li {
            position: relative;
            &:after {
               content: '';
               position: absolute;
               width: 1px;
               height: calc(100% + 16px);
               top: -16px;
               left: 0;
               background-color: #000;
               z-index: -1;
            }
         }
      }
   }
   &__item {
      position: relative;
      &:before {
         content: '';
         position: absolute;
         width: 46px;
         height: 1px;
         top: 72px;
         background-color: #000;
      }
      &-head {
         position: relative;
         padding: 40px 0 0 100px;
      }
      &-body {
         padding-left: 45px;
         margin-top: 15px;
         font-size: 12px;
         line-height: 18px;
         a {
            color: $main-color;
         }
      }
      &-icon {
         position: absolute;
         top: 53px;
         left: 45px;
      }
      &-subtitle {
         font-size: 12px;
         line-height: 18px;
      }
   }
}